{% extends "admin_templates/base.html" %} 
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href= {% static 'css/dashboard.css' %}>
{% endblock head %}
{% block title %}
Dashboard
{% endblock title %} 
{% block content %}

<!-- Cards Section -->
<section class="cards-section">
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Total Students</h3>
                    <h2 class="text-right"><i class="fa-solid fa-users f-left"></i><span class="f-right">486</span></h2>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Present Today</h3>
                    <h2 class="text-right"><i class="fa-solid fa-user-check f-left"></i><span class="f-right">486</span></h2>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Absent Today</h3>
                    <h2 class="text-right"><i class="fa-solid fa-user-xmark f-left"></i><span class="f-right">486</span></h2>
                </div>
            </div>
        </div>
	</div>
</div>
</section>

<!-- Charts -->
<section class="charts-section">
    <div class="container row">
        <div class="col-6"><canvas id="myChart" width="200" height="200"></canvas></div>
        <div class="col-6">
            <!-- <div class="container">
                <form method="get" autocomplete="off">
                    <div class="flex-sm-row flex-column d-flex">
                    <div class="col-sm-9 col-12 mb-2">
                        <div class="input-group input-daterange">
                        <input type="text" class="form-control" name="start_date" required>
                        <input type="text" class="form-control" name="end_date" required>
                        </div>
                    </div>
                    <div class="col-sm-3 col-12">
                        <button type="submit" class="btn btn-dark">Search</button>
                    </div>
                    </div>
                </form>
            </div> -->
            <canvas id="myChart2" width="200" height="200"></canvas>
        </div>
    </div>
</section>

<script type="text/javascript">
    const ctx = document.getElementById("myChart").getContext("2d");
    const myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: [
            'Red',
            'Blue',
            'Yellow'
        ],
        datasets: [{
            label: 'My First Dataset',
            data: [300, 50, 100],
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
        }],
        },
        options: {
        plugins: {
            legend: {
                display: true,
                labels: {
                    
                },
                position: 'right',
                align: 'end'
            }
        }
    }
    });

</script>
<script type="text/javascript" src={% static "js/dashboard.js" %}></script>
{% endblock content %}
