{% extends "admin_templates/base.html" %} 
{% load static %} 
{% block title %} 
Mark Attendance
{% endblock title %} 
{% block content %}

{% include '_partials/flash_messages.html' %}
<h1>Mark Attendance</h1>
<div class="container bg-img">
    <img src={% static 'img/Camera.svg' %} alt="">
</div>
<form action="{%url 'mark_attendance'%}" method="POST">
    {% csrf_token%}
    <input
        type="submit"
        value="Mark Attendance"
        class="btn btn-block btn-primary"
    />
</form>

{% endblock content %}
